@import '@/assets/styles/variables.scss';

.layout-container {
    background-color: #fbfbfb;
	height: 100vh;
	width: 100%;
	position: relative;
	font-family: $font-family-work-sans;
    .layout-main {
        display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
    }

    .children-container {
		width: 100%;
		max-width: 1200px;
		margin: 0px auto;
        overflow-y: auto;
        // overflow-x: hidden;
        .children-main {
            padding: 140px 40px 40px 40px;
            width: 100%;
            overflow-y: auto;
        }
	}
}
//top nav
.top-nav-container {
	background-color: $color-white;
	height: 100px;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 1030;
	box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    // @media (min-width: $breakpoint-desktop) {
    //     height: 70px;
    // }

	.search-bar {
		width: 400px;
		height: 40px;
		display: flex;
		align-items: center;
        // @media (min-width: $breakpoint-desktop) {
        //     display: none;
        // }
		input {
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border: 1px solid $color-primary;
			height: 40px;
			opacity: 0.5;
			width: calc(100% - 56px);
			height: 100%;
			padding: 0px 12px;
		}
		button {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			width: 56px;
			background-color: $color-default;
			height: 100%;
			display: flex;
            outline: none;
            border: none;
			justify-content: center;
			align-items: center;
		}
	}

    .top-nav-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        color: $color-primary;
    }

    .top-nav-group {
        display: flex;
        align-items: center;
        gap: 2rem;
        // @media (min-width: $breakpoint-desktop) {
        //     display: none;
        // }
        a {
            color: $color-primary;
        }
    }
    
    .top-nav-avatar {
        display: flex;
        align-items: center;
        gap: 10px;
        .avatar {
            height: 48px;
            width: 48px;
            border-radius: 50%;
        }
    }
}

//side nav
.side-nav-container {
	font-family: $font-family-work-sans;
	background-color: $color-white;
	height: 100vh;
	width: 370px;
	position: relative;
	z-index: 1020;
	box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scrollbar-width: 5px;

	.side-nav-header {
		height: 100px;
		padding-left: 35px;
		display: flex;
		align-items: center;
		@media (min-width: $breakpoint-desktop) {
            height: 70px;
        }
	}
	.side-nav-menu-items {
		padding: 30px 0px;
		a {
			color: $color-primary;
			font-size: 16px;
			font-weight: 400;
			text-decoration: none;
		}
		.side-nav-item {
			padding: 10px 30px;
			display: flex;
			align-items: center;
			gap: 10px;
			margin-bottom: 20px;
			border-left: 4px solid transparent;
			cursor: pointer;
			&.active {
				background-color: #39cdcd38;
				padding: 10px 30px;
				border-left: 4px solid $color-default;
			}
		}
		.side-nav-item-header {
			padding: 10px 30px;
			color: $color-secondary;
			font-weight: 500;
			font-size: 14px;
			text-transform: uppercase;
		}
	}
	.logout {
		border-top: 1px solid #21407d5a;
		padding: 10px 30px;
		cursor: pointer;
		color: $color-primary;
		font-size: 16px;
		div {
			display: flex;
			align-items: center;
			gap: 10px;
			margin-bottom: 20px;
		}

		.version {
			font-size: 12px;
		}
	}
}

.mobile-nav-container {
	align-items: center;
    justify-content: space-between;
    padding: 1.875rem 1.25rem 1rem;
    background: var(--white);
    display: none;
	@media (min-width: $breakpoint-mobile) {
		display: flex;
	}
    button {
        max-height: 2.75rem;
    }
}