@import '@/assets/styles/variables.scss';

.layout-container {
    background-color: #fbfbfb;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	font-family: $font-family-work-sans;
	margin-top: 100px;
    .children-container {
		display: flex;
        .children-main {
            width: calc(100vw - 251.56px);
			margin-left: auto;
			padding: 53.28px;
			@media (min-width: $breakpoint-desktop) {
				width: calc(100vw - 283px);
				padding: 60px;
			}
			@media (max-width: $breakpoint-tablet) {
				padding: 30px;
				width: 100%;
			}
        }
	}
	@media (max-width: $breakpoint-tablet) {
        margin-top: 70px;
    }
}
//top nav
.top-nav-container {
	background-color: $color-white;
	height: 100px;
	padding: 19px 60px 20px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1030;
	box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    @media (max-width: $breakpoint-tablet) {
        height: 70px;
		padding: 19px 30px 20px 30px;
    }

	.search-bar {
		width: 400px;
		height: 40px;
		display: flex;
		align-items: center;
		margin-left: auto;
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
		input {
			border-radius: 8px;
			border-top-right-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border: 1px solid rgba(33, 63, 125, 0.2);
			height: 40px;
			opacity: 0.5;
			width: calc(100% - 56px);
			height: 100%;
			padding: 0px 12px;
			outline: none;
			&::placeholder {
				color: rgba(33, 63, 125, 0.7);
			}
		}
		button {
			border-radius: 8px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			width: 56px;
			background-color: $color-default;
			height: 100%;
			display: flex;
            outline: none;
            border: none;
			justify-content: center;
			align-items: center;
		}
	}

    .top-nav-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
		gap: 30px;
        color: $color-primary;
    }

    .top-nav-group {
        display: flex;
        align-items: center;
        gap: 2rem;
		margin-left: auto;
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
        a {
            color: $color-primary;
        }
    }
    
    .top-nav-avatar {
        display: flex;
        align-items: center;
		justify-content: flex-end;
        gap: 10px;
        .avatar {
            height: 48px;
            width: 48px;
            border-radius: 50%;
        }
    }
	.mobile-nav-container {
		padding: 14px;
		display: none;
		@media (max-width: $breakpoint-tablet) {
			display: flex;
		}
		button {
			max-height: 2.75rem;
		}
	}
}

//side nav
.side-nav-container {
	font-family: $font-family-work-sans;
	background-color: $color-white;
	height: calc(100vh - 100px);
	width: 251.56px;
	position: fixed;
	left: 0;
	z-index: 1020;
	box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	display: block;
	@media (max-width: $breakpoint-tablet) {
		display: none;
		position: absolute;
		left: 0;
		height: 100%;
	}
	@media (min-width: $breakpoint-desktop) {
		width: 283px;
	}

	.side-nav-header {
		height: 100px;
		padding-left: 35px;
		display: flex;
		align-items: center;
		@media (max-width: $breakpoint-laptop) {
            height: 70px;
        }
	}
	.side-nav-menu-items {
		padding: 10px 0px 39px;
		margin: 0;
		a {
			color: $color-primary;
			font-size: 16px;
			font-weight: 400;
			text-decoration: none;
		}
		.side-nav-item {
			padding: 10px 30px 11px;
			display: flex;
			align-items: center;
			gap: 10px;
			border-left: 4px solid transparent;
			cursor: pointer;
			&.active {
				background-color: #39cdcd38;
				padding: 10px 30px;
				border-left: 4px solid $color-default;
			}
		}
		.side-nav-item-header {
			padding: 30px 30px 10px;
			color: $color-secondary;
			font-weight: 500;
			font-size: 14px;
			text-transform: uppercase;
		}
	}
	.logout {
		border-top: 1px solid #21407d5a;
		padding: 10px 30px;
		cursor: pointer;
		color: $color-primary;
		font-size: 16px;
		div {
			display: flex;
			align-items: center;
			gap: 10px;
			margin-bottom: 20px;
		}

		.version {
			font-size: 12px;
		}
	}
}

.collapsed {
	position: absolute;
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: 0;
}

.open {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
    transform: translateX(0);
    transition: transform 0.8s ease-in;
}
