$color-primary: #213F7D;
$color-secondary: #545F7D;
$color-default: #39CDCC;
$color-white: #FFFFFF;
$color-red: #E4033B;

$font-family-avenir: 'Avenir Next', sans-serif;
$font-family-work-sans: 'Work Sans', sans-serif;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;

$breakpoint-mobile: 480px;   // For mobile devices
$breakpoint-tablet: 768px;   // For tablet devices
$breakpoint-laptop: 1024px;  // For laptop devices
$breakpoint-desktop: 1200px; // For desktops and large screens

